.Wrapper
  .Post_form_box
    .Post_form
      = form_with(model: @post, url: posts_path, local: true) do |f|
        .Post_form__Content
          = f.label "アイキャッチ画像", class: "Image_label"
          %span
          %br/
          = f.file_field :image
        .Post_form__Content
          = f.label "タイトル"
          %span
          %br/
          = f.text_field :title, autofocus: true, class: "Post_form__Content__Field"
        .Post_form__Content
          = f.label "本文"
          %span
          %br/
          = f.text_area :content, rows: "20", class: "Post_form__Content__Field--Large"
        = f.submit "投稿", class: "Post_form__Btn Btn"