.Header
  .Header__Content
    = link_to "/", class: "Header_title" do
      = icon('fas', 'blog')
      %span Blog
    .Header_btns
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class:"Header_btn Right"
      - else
        = link_to "新規登録", new_user_registration_path, class:"Header_btn"
        = link_to "ログイン", new_user_session_path, class:"Header_btn"